 
<div class="jumbotron img-fluid">
  <% if logged_in? && current_user.role != "member"%> 
    <h1 class="display-4">Search a home on Airbnb</h1>
    <p class="lead">Find an accommadation you will love.</p>
  <% else %>
    <h1 class="display-4">Host a home on Airbnb</h1>
    <p class="lead">Earn money accomodating people in a home you love.</p>
    <p class="lead">
    <% if logged_in?%> 
      <%= link_to 'Get Started', new_listing_path, class: "btn btn-light btn-lg" %>
      <% else %>
      <%= link_to 'Get Started', sign_in_path, class: "btn btn-light btn-lg" %>
      <% end %>
    </p>
  <% end %>
  <br>
    <!-- Search bars -->
  <div class="container xs-12 m-auto p-auto ">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-primary">
          <div class="form-inline"> 
            <%= form_tag listings_path, remote: true, method: :get do %>
              
              <%= search_field_tag :searchwords, params[:searchwords], placeholder: "keywords..", class: "form-control m-1" %>
              <%= date_field(:date_start, nil, class: "form-control m-1") %>
              <%= date_field(:date_end, nil, class: "form-control m-1") %>
              <%= search_field_tag :searchmin, params[:searchmin], placeholder: "min price..", class: "form-control m-1", style: "width:'80px"%>
              <%= search_field_tag :searchmax, params[:searchmax], placeholder: "max price..", class: "form-control m-1" %>
              <%= submit_tag "search", name: :nil, class: "btn btn-danger m-1" %>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container md-12" id="card-columns">   
   <%= render(partial: 'index') %>
</div>


<br>
<br>