<!-- listing photos carousel -->
<div id="mycarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <% @listing.images.each_with_index do |outing, i| %>
      <li data-target="#mycarousel" data-slide-to="<%=i %>" class="<%='active' if i == 0 %>"></li>
    <% end %>
  </ol>
  <div class="carousel-inner">
    <% @listing.images.each_with_index  do |x,i|%>
    <div class="carousel-item<%= ' active' if i == 0 %>">
      <%= image_tag(x.url, class:"d-block w-100 img-fluid", style:"height:550px") %>
    </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<br />
<br />

<!-- listing information  -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <span><%= @listing.room_type %></span>
      <div class="pull-right"><%= link_to @listing.user.first_name, @listing.user %> </div>
      <br>
      <div class="pull-right">
        <% if @listing.user.avatar? %>
            <%= image_tag(@listing.user.avatar_url, class: 'rounded-circle',width: '50', height: '50') %>
        <% else %>
            <%= image_tag( "http://hannsaa.com/userfiles/avatars/default.jpg", class: 'rounded-circle',width: '50', height: '50') %>
        <% end %>
      </div>
      <h2><%= @listing.listing_name %></h2>
      <div><%= @listing.city %></div>
      <br />
      <span><i class="fas fa-user-friends"></i> <%= @listing.max_guest %> guests <i class="fas fa-door-open"></i> <%= @listing.room %> bedrooms  <i class="fas fa-bath"></i> <%= @listing.bathroom %> baths</span>
      <br />
      <br />
      <div class="card">
        <div class="card-body">
          <p class="card-text mt-2"><small class="text-muted">HOME HIGHLIGHTS </small></p>
          <h6 class="card-text"><%= @listing.summary %></h6>
        </div>
      </div>        
    </div>
    <div class="col-md-5">
      <div class="card p-4 pull-right"> 
        
        <center><p id="notice"><%= notice %></p></center>
         <p> $<%= @listing.price %><em> per night</em></p>
        <% if logged_in? %> 
          <% if current_user.id == Listing.find(params[:id]).user_id %><!-- EDIT ACCESS IF CURRENT USER IS CREATOR -->
            <%= link_to 'Edit Listing', edit_listing_path(@listing) %>
          <% end %>
        <% end %>

        <!-- RESERVATION FORM -->
        <%= simple_form_for(@reservation) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="form-inputs">

            <%= f.text_field :start_date, type: 'date', required: true, class: 'form-control'%>
            <br> 
            <%= f.text_field :end_date, type: 'date', required: true, class: 'form-control' %>
            <hr>
            <% if logged_in? %>
              <%= f.input_field :user_id, as: :hidden, value: current_user.id %>
              <%= f.input_field :listing_id, as: :hidden, value: @listing.id %>
            <% end %>
          </div>
          <div class="form-actions">
            <% if logged_in? %>
              <%= f.button :submit, 'Book now', class: "btn btn-warning btn-block pull-right mb-1" %>
              <p class="hint-text text-center small text text-muted">You won’t be charged yet</p>
            <% else %>
              <%= link_to 'Sign in to book', sign_in_path, class: "btn btn-light btn-block pull-right" %>
            <% end %>
          </div>
        <% end %>       
      </div>
    </div>
  </div>
</div>
<br>
<br>
