<style type="text/css">

    .or-seperator {
        margin: 20px 0 10px;
        text-align: center;
        border-top: 1px solid #ccc;
    }
    .or-seperator i {
        padding: 0 10px;
        background: #ffffff;
        position: relative;
        top: -11px;
        z-index: 1;
    }

</style>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 mr-4">
      <div class="card-body">
        <%= @reservation.status %>
        <% if @reservation.status == "Booked" %>
            <h3 class="card-title">Booking Confirmed | Ref.Num: ABB<%= @reservation.id %> </h3>
        <% else %> 
        <h3 class="card-title"> Review trip details</h3>
        <% end %>
        <hr>
        <br />
        <h5> Reservation for <%= current_user.first_name %></h5>
        <br />
        <h5 class="card-subtitle">Highlights for your Stay </h5>
        <hr>
        <br />
        <p> <%= @reservation.listing.summary %></p>
        <br />
        <h5 class="card-subtitle">Things to keep in mind </h5>
        <hr>
        <br />
        <p> Check-in time is 2pm - 8pm and check out by 12am (midnight)
        <br>
        No smoking, not suitable for pets, and no parties or events</p>
      </div>
    </div>
    <div class="col-md-2">
    </div>
    <div class="card col-md-3 md-ml-4">
      <div class="card-body">
        <center><p id="notice"><%= notice %></p></center>
        <h3><%= @reservation.listing.listing_name %></h3>
        <p><%= @reservation.listing.room_type %></p>
        <hr>
        <br />
        <h6><i class="fas fa-calendar-alt"></i>  <%= @reservation.start_date %> <i class="fas fa-arrow-right"></i>  <%= @reservation.end_date %></h6>
        <hr>
        <br />
        <h6>$<%= @reservation.listing.price %> x <%=@reservation.nights %> nights<div class="pull-right">$<%= @reservation.total %></div> </h6>
        <hr>
        <br />
        <h6>Total(USD)<div class="pull-right">$<%= @reservation.total %></div></h6>
        <hr>
        <br>
        <% if @reservation.status == "Booked" %>
            <h3> Transaction Complete </h3>
        <% else %>    
        <%= link_to "Continue", new_payment_url, class: "btn btn-success pull-right ml-2"%>
        
        <a href="#" data-target="#update<%= @reservation.id %>Modal" data-toggle="modal" class="btn btn-secondary pull-right ml-2">Modify</a>
        
        <% end %>
      </div>
    </div>
    
  </div> 
</div>

<!---------------- Update Modal ---------------------->

        <div class="modal fade" data-backdrop="static" id="update<%= @reservation.id %>Modal" tabindex="0">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"> Update </h4>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                        <div class="modal-body">
                            <%= simple_form_for(@reservation) do |f| %>
                              <%= f.error_notification %>
                              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
                               
                              <div class="form-inputs">
                                <%= f.text_field :start_date, type: 'date', class: 'form-control'%> 
                                <br>
                                <%= f.text_field :end_date, type: 'date',class: 'form-control' %>

                                <%= f.association :user, as: :hidden %>
                                <%= f.association :listing, as: :hidden %>
                              </div>
                            
                        </div>
                        <div class="modal-footer">
                            
                            
                            <%= link_to 'Delete', @reservation, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-block btn-danger" %>
                            <br>
                            <div class="or-seperator"><i>or</i></div>
                            <%= f.button :submit, "Update", class: "btn btn-block btn-success" %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!---------------- END Update Modal ---------------------->



