
<div class="containger m-4 mt-4">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-4 mr-4">
      <div class="card-body">
        <%= @reservation.status %>
        <% if @reservation.status == "Booked" %>
            <h3 class="card-title">Booking Confirmed | Ref.Num: ABB<%= @reservation.id %> </h3>
        <% else %> 
        <h3 class="card-title"> Review trip details</h3>
        <% end %>
        <hr>
        <br />
        <h5> Reservation for <%= current_user.first_name %></h5>
        <br />
        <h5 class="card-subtitle">Highlights for your Stay </h5>
        <hr>
        <br />
        <p> <%= @reservation.listing.summary %></p>
        <br />
        <h5 class="card-subtitle">Things to keep in mind </h5>
        <hr>
        <br />
        <p> Check-in time is 2pm - 8pm and check out by 12am (midnight)
        <br>
        No smoking, not suitable for pets, and no parties or events</p>
      </div>
    </div>
    <div class="card col-md-3 ml-4">
      <div class="card-body m-1">
        <center><p id="notice"><%= notice %></p></center>
        <h3><%= @reservation.listing.listing_name %></h3>
        <p><%= @reservation.listing.room_type %></p>
        <hr>
        <br />
        <h6><i class="fas fa-calendar-alt"></i>  <%= @reservation.start_date %> <i class="fas fa-arrow-right"></i>  <%= @reservation.end_date %></h6>
        <hr>
        <br />
        <h6>$<%= @reservation.listing.price %> x <%=@reservation.nights %> nights<div class="pull-right">$<%= @reservation.total %></div> </h6>
        <hr>
        <br />
        <h6>Total(USD)<div class="pull-right">$<%= @reservation.total %></div></h6>
        <hr>
        <br>
        <% if @reservation.status == "Booked" %>
            <h3> Transaction Complete </h3>
        <% else %>    
        <%= link_to "Continue", new_payment_url, class: "btn btn-primary pull-right ml-2"%>
        <%= link_to 'Modify', edit_reservation_path(@reservation), class: "btn btn-secondary pull-right ml-2" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div> 
</div>



